.container{
    display: flex;
    flex-direction: row;
    
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
}

.sidebar-container{
    width: 55%;
    
    background-color: blanchedalmond;
    margin: 0;
}
 .header-container{
    flex-grow: 4;
 }

